body {
  position: relative;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  font-family: Raleway, sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  border: none;
  font: inherit;
  background-color: transparent;
}

address {
  font: inherit;
}

/*  */

