
<<<<<<< HEAD
body {
  position: relative;
  width: 1100px;
  margin: 0 auto; 
  padding: 0;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;

}

address {
  font: inherit;
}

/*  */

.adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-section {
  box-sizing: border-box;
  margin: auto;
  width: 1052px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.4);
}
=======
>>>>>>> 79b9535a6728a483c989c6652e4898afd3f1d9ec

