body {
  position: relative;
  width: 1100px;
  padding: 0;
  font-family: Raleway, sans-serif;
  margin: 0 auto; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
  border: none;
  background-color: transparent;

}

address {
  font: inherit;
}

/*  */

.menu {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.content-section {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1052px;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.4);
}

.underline {
  text-decoration: underline; 
  text-underline-offset: 3px; /*  Отступ линии от текста */
  text-decoration-thickness: 1px; /*  Толщина линии */
}