/* место для вашего кода */

/* Благодарю за уточнение */

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* Header */

.header {
  width: 100%;
  height: 293px;
  padding: 92px 50px 96px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-column: 3;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__menu__item:not(.inactive) {
  list-style: circle;
}

.header__menu__link {
  color: inherit;
  text-decoration: none;
}

.header__menu__item:not(.inactive) .header__menu__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.inactive .header__menu__link {
  pointer-events: none;
}

.header__nav__logo {
  width: min-content;
}

.header__nav__logo img {
  width: 148px;
}

.header__nav__contacts {
  justify-self: end;
  width: 240px;
  font: inherit;
}

.header__nav__contacts p {
  margin: 0;
}

/* Cover Section */

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  padding: 165px 50px 50px;
  color: #FFFFFF;
  font-family: inherit;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
}

.cover__title {
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  letter-spacing: 30%;
}

.aligned__text {
  display: block;
}

.aligned__text__center {
  text-align: center;
}

.aligned__text__right {
  text-align: right;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%; 
  gap: 107px;
}
/* 
.cover__description_text {

} */

.cover__description__button{
  border: 1px solid #fff;
  padding: 0;
  color: #FFFFFF;
  font: inherit;
  background: none;
  right: 0;
}

/* Lots Section */

.lots {

}

.lots__title {

}

.lots__cards {

}

.cards__item {

}

.cards__item__link {

}

.lots__link {

}

/* About Section */

.about {

}

.about__logo__column {

}

.about__info__column {

}

/* Footer */

.footer {
  
}

.footer__menu {

}

.footer__social__links {

}