/* место для вашего кода */

/* Благодарю за уточнение */

/* Header */

.header {
  width: 100%;
  height: 293px;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.header__nav {
  display: grid;
  grid-column: 3;
  grid-template-columns: 1fr 148px 1fr;
}

.header__menu {

}

.header__menu__item {
  
}

.header__nav__logo {

}

.header__nav__contacts {
  justify-self: end;
}

/* Cover Section */

.cover {
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
}

.cover__title {

}

.cover__description {

}

.cover__description__button {

}

/* Lots Section */

.lots {

}

.lots__title {

}

.lots__cards {

}

.cards__item {

}

.cards__item__link {

}

.lots__link {

}

/* About Section */

.about {

}

.about__logo__column {

}

.about__info__column {

}

/* Footer */

.footer {
  
}

.footer__menu {

}

.footer__social__links {

}