/* Header Section */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 100%;
  max-height: 293px;
  padding: 92px 50px 96px;
}

.header__menu {
  color: inherit;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item:not(.header__links-list-item_no-bullit) {
  border-bottom: 1px solid currentColor;
  padding: 0 3px 0 0;
  list-style: circle;
}

.header__link {
  display: inline-block;
}

.header__logo {
  display: block;
  width: 130px;
  height: 104px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header-address {
  justify-self: end;
  max-width: 240px;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Cover section */

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: inline-flex;
  flex-direction: column;
  row-gap: 20px;
  box-sizing: border-box;
  width: 100%;
  padding: 165px 50px 106px;
  font-family: inherit;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: inline-block;
}

.aligned-text_center {
  padding-left: 30px;
  text-align: center;
}

.aligned-text_right {
  text-align: right;
  transform:translateX(30px);
}

.cover__description {
  position: relative;
  z-index: 1;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 105px;
  padding: 0px 50px 50px 50px;
  font: inherit;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 18.8px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px 11px 31px;
  color: inherit;
  font: inherit;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

/* Lots Section */

#lots {
  margin-bottom: 120px;
}


.lots {
  position: relative;
  color: #fff;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: #000;
  font-family: inherit;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
}

.card-link {
  display: block;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  min-height: 596px;
  padding: 48px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);

}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2em;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2em;
}

.lots__look-more-link {
  position: relative;
  display: block;
  margin: 30px 0 0 40px;
  color: #000;
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline; 
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
  text-transform: lowercase;
}

/*  */

#about {
  margin-bottom: 180px;
}

.about {
  color: #000;
}

.about__content {
  display: grid;
  grid-template-columns: 334px 1fr;
  align-items: start;
  gap: 26px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 34px auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 136px 0 100px;
  font-family: inherit;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
}

.about__text-item {
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

/* Footer Section */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 52px 82px;
}

.footer-address {
  align-self: start;
  width: 265px;
}

.footer__menu {
  display: flex;
  justify-content: center;
  color: inherit;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
} 

.footer__menu-link {
  text-decoration: underline; 
  text-decoration-thickness: 1px; 
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  display: flex;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}