/* место для вашего кода */

/* Благодарю за уточнение */

/* Header */

.header {

}

.header__menu {

}

/* Cover Section */

.cover {

}

.cover__title {

}

.cover__description {

}

.cover__description__button {

}

/* Lots Section */

.lots {

}

.lots__title {

}

.lots__cards {

}

.cards__item {

}

.cards__item__link {

}

.lots__link {

}

/* About Section */

.about {

}

.about__logo__column {

}

.about__info__column {

}

/* Footer */

.footer {
  
}

.footer__menu {

}

.footer__social__links {
  
}