/* место для вашего кода */

/* Благодарю за уточнение */

.underline {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

/* Header */

.header {
  width: 100%;
  height: 293px;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
  font-style: normal;
}

.header__nav {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-column: 3;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header__menu__item:not(.inactive) {
  list-style: circle;
}

.header__menu__link {
  color: inherit;
  text-decoration: none;
}

.header__menu__item:not(.inactive) .header__menu__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.inactive .header__menu__link {
  pointer-events: none;
}

.header__nav__logo {
  width: min-content;
}

.header__nav__logo img {
  width: 148px;
}

.header__nav__contacts {
  width: 240px;
  justify-self: end;
  font: inherit;
}

.header__nav__contacts p {
  margin: 0;
}

/* Cover Section */

.cover {
  width: 100%;
  height: 757px;
  background-image: url(../images/cover.jpg);
}

.cover__title {

}

.cover__description {

}

.cover__description__button {

}

/* Lots Section */

.lots {

}

.lots__title {

}

.lots__cards {

}

.cards__item {

}

.cards__item__link {

}

.lots__link {

}

/* About Section */

.about {

}

.about__logo__column {

}

.about__info__column {

}

/* Footer */

.footer {
  
}

.footer__menu {

}

.footer__social__links {

}