/* место для вашего кода */

/* Благодарю за уточнение */

.underline {
  /* border-bottom: 1px solid #fff ; */
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

/* Header */

.header {
  width: 100%;
  height: 293px;
  padding: 92px 50px 96px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.2;

}

.header__nav {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-column: 3;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header__menu__item:not(.inactive) {
  list-style: circle;
}

.header__menu__link {
  text-decoration: none;
}

.header__menu__item:not(.inactive) .header__menu__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.inactive .header__menu__link {
  pointer-events: none;
}

.header__nav__logo {
  margin: auto;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav__logo img {
  width: 130px;
}

.header__nav__contacts {
  justify-self: end;
  width: 240px;
  font: inherit;
}

.header__nav__contacts p {
  margin: 0;
}

/* Cover Section */

.cover {
  position: relative;
  width: 100%;
  height: 757px;
  padding: 165px 50px 50px;
  color: #FFFFFF;
  font-family: inherit;
  text-transform: uppercase;
  background-image: url(../images/cover.jpg);
}

.cover__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  letter-spacing: 30%;
}

.aligned__text {
  display: block;
  margin: 0 0 18px 0;
}

.aligned__text__center {
  align-self: center;
}

.aligned__text__right {
  align-self: flex-end;
}

.cover__description {
  position: absolute;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; 
  gap: 107px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 90%;
}
/* 
.cover__description_text {

} */

.cover__description__button{
  right: 0;
  border: 1px solid #fff;
  padding: 0;
  color: #FFFFFF;
  font: inherit;
  background: none;
}

/* Lots Section */

.lots {
  width: 1052px;
  height: 723px;
  margin: 180px auto 0;

}

.lots__title {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
}

.lots__cards {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 334px);
  grid-column: 3;
  gap: 25px;
  list-style: none;
  text-decoration: none;
}

.cards__item {
  position: relative;
  padding: 48px 40px;
  width: 334px;
  height: 596px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.cards__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cards__background img {
  width: 100%;
  height: 100%;
  z-index: -2;
}

.cards__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.cards__item__link,
.cards__item article {
  position: relative;
  z-index: 1;
}

.cards__item__link {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}

.cards__item article {
  margin-top: auto;
  padding-top: auto;
  line-height: 120%;
  font-size: 20px;
  font-weight: 400;
}

.lots__link {
  display: inline-block;
  position: relative;
  text-transform: lowercase;
  font-size: 20px;
  font-weight: 400;
  margin: 30px 0 0 40px;
}

/* About Section */

.about {
  width: 100%;
  height: 595px;
  margin-top: 120px;
}

.about__logo__column {

}

.about__info__column {

}

/* Footer */

.footer {
  display: grid;
  grid-column: 3;
  width: 100%;
  height: 180px;
  margin-top: 180px;
}

.footer__menu {
  display: flex;
}

.footer__social__links {
  width: 240px;
  height: 48px;
}

.social__links__item {
  display: flex;
  align-content: center;
}

.social__decoration {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 50%; /* Задаем круглую форму */
  overflow: hidden;
  /* background-color: #fff; */
}
